body{

text-align: center;
background: linear-gradient(to right, rgba(#f80404c6), orange, yellow, green, blue, indigo, violet);
margin: 0;
font-family: calibri,Arial, Helvetica, sans-serif;
.content {
    font-family: calibri, Arial;
    width: 95%;

    border-radius: 15px;
    background:rgba(249, 249, 249, 0.75);
    padding: 0;
    margin: 0 auto;
    margin-top:10px;    
    text-align: center;
    border:1px solid rgba(218, 213, 213, 0.681);
    box-shadow: 
    5px 5px 5px  rgba(249, 249, 249, 0.75),
    5px -5px 5px rgba(249, 249, 249, 0.75),
    -5px 5px 5px  rgba(249, 249, 249, 0.75),
    -5px -5px 5px  rgba(249, 249, 249, 0.75) ; 
    display: block; 
    ul,li{
      list-style: none;
      margin:0;
      padding:0
      }  
header{
  // background:hotpink;
  height:50px;
  line-height: 50px;
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet), 
  linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
background-clip: text;
-webkit-background-clip: text;
color: transparent;

}
@media only screen and (max-width: 600px) {
  header {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      border:0;
   
      // border:1px solid green;
      text-align: center;
   }
}
main{

  .top{
 
.column{
font-size: 26px;
font-weight: bold;
height:50px;
line-height: 50px;
// border:1px solid gray;
}
@media only screen and (max-width: 600px) {
  .column {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      border:0;
      font-size: 20px;
      height:40px;
      line-height:40px;
      // border:1px solid yellow;
      text-align: center;
   }
}
.wrap{
// border:2px solid green;


.location{
  width: 60%;
  height:30px;
  border-radius:5px;
  text-indent: 5px;
  font-size: 14px;
  .optionname{
   
    font-size: 14px;
    margin:0 auto;
    // border:1px solid red;
    padding:0;
    display: block;
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .optionname {
        padding: 0;
        margin: 0 auto;
        width:100px;
        border:0;
        font-size: 12px;
     
        // border:1px solid yellow;
        text-align: center;
     }
  }
}
.btn{
  width: 10%;
  height:30px;
  width: 200px;
  border-radius:10px;
}
@media only screen and (max-width: 600px) {
  .btn {
    font-size: 14px;
   }
}
@media only screen and (max-width: 600px) {
  .location {
      padding: 0;
      margin: 0 auto;
      width: 300px;
      border:0;
      font-size: 14px;
      display: block;
      // border:1px solid red;
      text-align: center;

   }
   .btn{
 
    display: block;
    width: 10%;
    height:30px;
    width: 200px;
    margin:0 auto;
    border-radius:10px;
    text-align: center;
    margin-top:8px;
   }
}
text-align: center;
.searchindicate{
  width: 100%;
  text-align: center;
  // border:1px solid red;
  display: flex;
  justify-content: center;
  .downwrap{
    width: 90%;
    // border:1px solid blue;
    text-align: left;
    padding-left:3px;
  }
}
.showgeo{
  height:50px;
  line-height: 50px;
  .boldcity{
    font-weight: bold;
  }
}
@media only screen and (max-width: 600px) {
  .showgeo {
    white-space: normal;
    font-size: 12px;
    overflow: visible;
    width: 92%;
    // border:1px solid red;
    margin: 0 auto;
    // height:27px;
    line-height: 20px;
    margin-top:3px;
   }
}

}
@media only screen and (max-width: 600px) {
  .wrap {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      border:0;
      font-size: 16px;
   
      // border:1px solid yellow;
      text-align: center;
   }
}

  }
  @media only screen and (max-width: 600px) {
    .top {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        border:0;
 
        // border:1px solid yellow;
        text-align: center;
     }
  }

  .down{
  //  border:1px solid gray;
 
   li{
    padding:5px;
    border:1px solid white;
   }
   .right,.left{
   display: inline-block;
  //  border:1px solid gray;
   width: 40%;
   text-align: left;
   border-radius:10px;
   margin:10px;
  //  padding:10px;
   background:rgba(248, 252, 255, 0.329);
  
   .reportcolumn{
 display: inline-block;
 width: 80px;
//  border:1px solid red;
   }
   .backspan{
  
    display: inline-block;
    padding:3px;
    border-radius:3px;
    
   }
   @media only screen and (max-width: 600px) {
    .backspan {
      
      display: inline-block;
      padding:1px;
      border-radius:3px;
      height:26px;
      line-height: 26px;
      padding-left:3px;
      padding-right:3px;
     }
  }
  
  }
  @media only screen and (max-width: 600px) {
    .left,.right {
        padding: 0;
        margin: 0 auto;
        width: 95%;
        border:0;
        font-size: 14px;
     
        // border:1px solid blue;
        text-align: center;
     }
  }
  }
  @media only screen and (max-width: 600px) {
    .wrap {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        border:0;
        font-size: 16px;
     
        // border:1px solid yellow;
        text-align: center;
     }
  }
}
@media only screen and (max-width: 600px) {
  main {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      border:0;
    
      // border:1px solid yellow;
      text-align: center;
   }
}


}
footer{
  height:80px;
  line-height: 80px;
  padding:20px;
  background:rgba(249, 249, 249, 0.3);
  display: block;
  width: 95%;
  border-radius:20px;
  margin: 0 auto;
  margin-top:8px;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  footer {
    height:40px;
    line-height: 40px;
    width: 90%;
   }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 0;
        margin: 0 auto;
        width: 90%;
        border:0;
        margin-top:10px;
        line-height: 40px;
        // border:2px solid blue;
        text-align: center;
        background:rgba(249, 249, 249, 0.9);
        display: block;
     }
}

}
@media only screen and (max-width: 600px) {
    body{
        background-color:white;
        width: 100%;
        margin:0 auto;
        padding:0;
        text-align: center;
        // border:3px solid yellow;
        background: white;
        font-size: 14px;
        background: linear-gradient(to right, rgba(#f80404c6), orange, yellow, green, blue, indigo, violet);
    }
}